*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:url('currency.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container{
    background-color: #f7f5f0;
    padding: 2rem;
    border-radius: 1rem;
    /* border: 2px solid #4f220e; */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Shadow effect */
    min-height: 45vh;
    width: 40vh;
}
form{
    margin:2rem 0 1rem 0;
}
form select,button,input{
width: 100%;
border: none;
outline: none;
border-radius: 0.75rem;
}
form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.dropdown i{
    font-size: 1rem;
    margin-top: 1rem;
}
.select-container img{
max-width: 2rem;
}
.select-container{
    display: flex;
    width: 6rem;
    
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    
    
}
.select-container select{
    font-size: 1rem;
    width: auto;
}


.msg{
    margin: 2rem 0 2rem 0;
    color: rgb(56, 10, 10);
    font-weight: bold;
    font-family: 'GFS Elpis', sans-serif;
}
form button{
    height: 3rem;
    /* background-color:#af4d98; */
    background-color: #4f220e;
    color: #F9F0DE;
    font-size: 1.15rem;
    cursor: pointer;
    font-family: 'GFS Elpis', sans-serif;
                                                
}
h2{
    color: #391E12;
    text-align: center;
    font-family: 'Cash Currency', sans-serif;
    font-size: 25px;
}
p{
    color: #391E12;
    font-weight: bold;
    font-family: 'GFS Elpis', sans-serif;
}
