* {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgba(172, 222, 248, 0.939);
  background-size: cover;
}
h1 {
  background-color:#277da1;
  color: white;
  height: 5rem;
  line-height: 5rem;
  font-weight: bold;
}
.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #00afb9;
  
}
.choice:hover {
  /* opacity: 0.5; */
  cursor: pointer;
  background-color: #081b31;
}
img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}
.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}
#user-score,
#comp-score {
  font-size: 4rem;
  color: #00afb9;
}
.msg-container {
  margin-top: 5rem;
}
#msg {
  background-color: #277da1;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  display: inline;
  border-radius: 1rem;
}
p{
  color:#004e89;
  font-weight: bold;
}
.reset-btn{
  background-color: #00afb9;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 14px;
  border: none;
  font-weight: bold;
}